{{> header}}
<section class="detailsOtherPet">
    <h3>{{name}}</h3>
    <p>Pet counter: {{numberOfPets}} <a href="#/petAPet/:{{id}}">
        <button class="button"><i class="fas fa-heart"></i>
            Pet
        </button>
    </a>
    </p>
    <p class="img"><img src="{{imageURL}}"></p>
    <p class="description">{{description}}</p>
</section>
{{> footer}}